.catalog{


  &_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    row-gap: 30px;
    column-gap: 10px;


    .product{
      width: 220px;
      height: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      background-color: #131313;
      position: relative;

      h4 {
        color: #cccccc;
        font-size: 18px;
        font-weight: 400;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: #212123;
        i {
          text-decoration: 1.5px line-through solid #ff0000;
        }
        b{
          font-weight: 400;
        }
      }
      img{
        width: 110px;
        border-radius: 5px;
      }

        p{
          color: #cccccc;
          font-size: 16px;
          background-color: #212123;
          padding: 5px 10px;
          border-radius: 5px;
        }
      span{
       color: #cccccc;
        font-size: 12px;
      }
      button{
        color: #cccccc;
        font-size: 24px;
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 0;

      }
    }
  }
}