.catalog{


  &_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    row-gap: 30px;



    .product{

      width: 180px;
      height: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      background-color: #131313;
      gap: 20px;
      position: relative;
      img{
        width: 130px;
        border-radius: 5px;
      }

        p{
          color: #cccccc;
          font-size: 16px;
          background-color: #212123;
          padding: 5px 10px;
          border-radius: 5px;
        }

      button{
        color: #cccccc;
        font-size: 24px;
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 0;

      }
    }
  }
}