.search{



  input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #212123;
    color: #cccccc;
    font-size: 20px;
    padding: 0 20px;

  }
}